autopep8==1.4.4
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
continuumclient==19.0.1
cycler==0.10.0
docutils==0.15.2
future==0.18.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.2
pkginfo==1.5.0.1
pycodestyle==2.5.0
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
python-ntlm3==1.0.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.36.1
twine==2.0.0
urllib3==1.25.6
v1pysdk==0.6.2
webencodings==0.5.1
